/* Dark Mode Stylesheet */

body.dark-mode {
    background:#000000;
    color:#ffffff;
    font-family: 'Satoshi', 'Google Sans', Arial, sans-serif;
}

body.dark-mode .navbar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

body.dark-mode .right-pill {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

body.dark-mode .time-location-display {
    color:rgba(255, 255, 255, 0.5);
}

body.dark-mode .footer {
    background:#ffffff;
    color:#000000;
}

body.dark-mode .footer-icons img {
    filter: brightness(0);
}

body.dark-mode .intro-heading {
    color:#ffffff;
}

body.dark-mode .intro-sub {
    color:#e0e0e0;
    font-family: 'Satoshi', 'Google Sans', Arial, sans-serif;
    font-weight: 300;
}

body.dark-mode .intro-cta {
    background:#ffffff;
    color:#0a0a0a;
}

body.dark-mode .book-a-call,
body.dark-mode .mail {
    background:#ffffff;
    color:#0a0a0a;
}

body.dark-mode .FP {
    background:#D9D9D9;
    color:#0b0b0b;
}

body.dark-mode .leafAi {
    background:#87B069;
}

body.dark-mode .Lign {
    background:#FFC9D7;
}

body.dark-mode .IncFig {
    background:#F7DC83;
}

body.dark-mode .projects-btn {
    background-color: #4C4C4C !important;
    color: #BDBDBD !important;
    font-weight: 300 !important;
}

body.dark-mode .contact-space-container {
    background: rgba(255, 255, 255, 0.2);
}
